<launch>
    <!-- 设置地图的配置文件 -->

    <arg name="map" default="nav.yaml" />
    <!-- 运行地图服务器，并且加载设置的地图-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find guide01_test)/map/$(arg map)" />
    <!-- 启动gazebo -->
    <include file="$(find guide01_test)/launch/gazebo_demo.launch" />

    <!-- 运行movebase -->
    <include file="$(find guide01_test)/launch/movebase2.launch" />
    <!-- 将 Urdf 文件的内容加载到参数服务器 -->
    <!-- <param name="robot_description" command="$(find xacro)/xacro $(find gazebo01_test)/urdf/mycarCamera.xacro" /> -->
    <param name="robot_description" textfile="$(find gazebo01_test)/urdf/linorobot.urdf" />

    <!-- 启动AMCL节点 -->
    <!-- <include file="$(find guide01_test)/launch/tryAmcl.launch" /> -->
    <include file="$(find guide01_test)/launch/testAmcl.launch" />
    <!-- 运行rviz -->
    <!-- <node pkg="rviz" type="rviz" name="rviz" /> -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find guide01_test)/gazebo/mycar.rviz" />
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="key" />
    
</launch>