<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find guide01_test)/param/costmap_common_params_burger.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find guide01_test)/param/costmap_common_params_burger.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find guide01_test)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find guide01_test)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find guide01_test)/param/base_local_planner_params.yaml" command="load" />
    </node>


</launch>