<!-- 组合小车底盘与摄像头 -->
<robot name="my_car_camera" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="sportHeader.xacro" />
    <xacro:include filename="carAwheel.xacro" />
    <xacro:include filename="laserSupport.xacro" />
    <xacro:include filename="cameraSupport.xacro" />
    <xacro:include filename="move.xacro" />
    <xacro:include filename="my_laser.xacro" />
    <xacro:include filename="my_camera.xacro" />
</robot>
